.u-file-icon-barco img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  .u-icon-2-barco {
    width: 43px;
    height: 43px;
    transition-duration: 0.5s;
    margin: -43px 114px 45px auto;
  }