 .u-section-1 {
  background-image: none;
  min-height: 889px;
}

.u-section-1 .u-icon-1 {
  width: 589px;
  height: 439px;
  margin: 381px 0 0 auto;
}

.u-section-1 .u-form-1-crearOrden {
  height: 266px;
  width: 1140px;
  margin: -315px calc(((100% - 1140px) / 2)) 0;
}

.u-section-1 .u-label-1 {
  font-size: 1.5rem;
}

.u-section-1 .u-input-1-crearOrden {
  font-size: 1.25rem;
}

.u-section-1 .u-label-2 {
  font-size: 1.5rem;
}

.u-section-1 .u-input-2-crearOrden {
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-3-crearOrden {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  font-size: 1.5rem;
}

.u-section-1 .u-input-3-crearOrden {
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-4-crearOrden {
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  font-size: 1.5rem;
}

.u-section-1 .u-input-4-crearOrden {
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-5-crearOrden {
  margin-left: 0;
}

.u-section-1 .u-label-5 {
  font-size: 1.5rem;
}

.u-section-1 .u-input-5-crearOrden {
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-6-crearOrden {
  margin-left: 0;
}

.u-section-1 .u-label-6 {
  font-size: 1.5rem;
}

.u-section-1 .u-input-6-crearOrden {
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-7-crearOrden {
  margin-left: 0;
}

.u-section-1 .u-label-7 {
  font-size: 1.5rem;
}

.u-section-1 .u-input-7-crearOrden {
  font-size: 1.25rem;
}

.u-section-1 .u-form-group-8-crearOrden {
  margin-left: 0;
}

.u-section-1 .u-label-8 {
  font-size: 1.5rem;
}

.u-section-1 .u-input-8-crearOrden {
  font-size: 1.25rem;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-weight: 700;
  font-size: 1.25rem;
  padding: 10px 30px;
}

.u-section-1 .u-text-1-crearOrden {
  margin: 79px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-icon-1 {
    height: 438px;
  }

  .u-section-1 .u-form-1-crearOrden {
    width: 940px;
    margin-top: -768px;
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1-crearOrden {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1-crearOrden {
    height: 709px;
    width: 540px;
    margin-top: -729px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: -769px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-icon-1 {
    height: 439px;
  }

  .u-section-1 .u-form-1-crearOrden {
    height: 266px;
    width: 1140px;
    margin-top: -769px;
    margin-left: calc(((100% - 1140px) / 2));
    margin-right: calc(((100% - 1140px) / 2));
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -1064px;
  }
} .u-section-2 {
  background-image: url("../img/malecon_aerea_1.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-form-group-crearOrden {
  margin-bottom: 10px;
  width: 25%;
  max-width: 25%;
}

/*.u-form-group-crearOrden .u-form-group-3-crearOrden .u-form-group-4-crearOrden .u-form-group-5-crearOrden {
  float: left;
  margin-left: 0;
}*/