.dashboard-btns {
    margin: 230px auto 0;
    margin-left: 383px;
}


.u-section-1-db .u-shape-1-db {
    width: 1237px;
    height: 587px;
    margin: 25px -49px 0;
}

.u-sec-db .u-sha-db {
    width: 1177px;
    height: 1031px;
    margin: -455px -19px 0;
}

.sec-db .sha-3-db {
    width: 1113px;
    height: 379px;
    margin: -393px auto 0;
}

.section-dashboard {
    height: 970px;
}

.db-btn {
    margin-right: 15px;
}